<?xml version="1.0" encoding="utf-8" ?>
<!--
Git: https://github.com/ClaudiaCoord/SecurityHomeMailHub/tree/main/src/HomeMailHub
Copyright (c) 2022 СС
License MIT.
-->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HomeMailHub.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <HomeMailHub.Properties.Settings>
            <setting name="PgpPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="IsIncommingPgpDecrypt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSmtpAllOutPgpSign" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSmtpAllOutPgpCrypt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSmtpDeliveryLocal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSmtpCheckFrom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSmtpSecure" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSmtpLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmtpServicePort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SmtpClientIdle" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="IsPop3DeleteAllMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsPop3Secure" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsPop3Log" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Pop3ServicePort" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="Pop3ClientIdle" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SpamCheckCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SpamClientIdle" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ClientTimeout" serializeAs="String">
                <value>240000</value>
            </setting>
            <setting name="IsSaveAttachments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsAlwaysNewMessageId" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsImapClientMessagePurge" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSmtpClientFakeIp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsModifyMessageDeliveredLocal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsNewMessageSendImmediately" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsReceiveOnSendOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckMailPeriod" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="VpnDnsDefault" serializeAs="String">
                <value>1.1.1.1, 1.0.0.1, 8.8.8.8, 8.8.4.4</value>
            </setting>
            <setting name="VpnAllowedIPDefault" serializeAs="String">
                <value>0.0.0.0/0</value>
            </setting>
            <setting name="IsCacheMessagesLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProxyType" serializeAs="String">
                <value>SshSock5</value>
            </setting>
            <setting name="IsVpnEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsEnableLogVpn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServicesInterfaceName" serializeAs="String">
                <value />
            </setting>
            <setting name="ServicesInterfaceIp" serializeAs="String">
                <value />
            </setting>
            <setting name="IsProxyListRepack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSharingSocket" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckProxyEndPointUrl" serializeAs="String">
                <value>http://api.ipify.org:80?format=json</value>
            </setting>
            <setting name="IsSmtpEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsPop3Enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsAccessIpWhiteList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsGuiLightText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsVpnRandom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsVpnAlways" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsConfirmRestoreMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsConfirmDeleteMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PgpBinPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PgpKeyHost" serializeAs="String">
                <value />
            </setting>
            <setting name="IsAccessIpCheckDns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDnsblIpCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DnsblHost" serializeAs="String">
                <value>zen.spamhaus.org</value>
            </setting>
        </HomeMailHub.Properties.Settings>
    </userSettings>
</configuration>