<?xml version="1.0" encoding="utf-8" ?>
<!--
Git: https://github.com/ClaudiaCoord/SecurityHomeMailHub/tree/main/src/SecurityMailTunnel
Copyright (c) 2022 СС
License MIT.
-->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>